.container-main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 935px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.right .firstFrendsWindow {
  position: fixed;
  top: 430px;
  transform: translateX(10%);
}
.right .twoFrendsWindow {
  position: fixed;
  top: 16vh;
  height: 200px;
  transform: translateX(10%);
}

.FriendContainer {
  width: 250px;
  height: 200px;
  background-color: rgb(215, 230, 173);
  overflow-y: scroll;
}
